Introduction to Python

Here's a comment

In [1]:
_candy = 5

In [2]:
_candy

5

In [3]:
1st_line = 5

SyntaxError: invalid syntax (1014976888.py, line 1)

In [4]:
language = 'python'

language*2

'pythonpython'

In [5]:
str1="helloworld"

In [7]:
str1[:-1]

'helloworl'

In [8]:
string = "Python"
string*2

'PythonPython'

In [9]:
string = "Python"
string+string

'PythonPython'

In [11]:
var="ABCD"
var[1]

'B'

In [12]:
True + False

1

In [13]:
var1 = 10
var2 = 88
var3 = (var1 > var2)
type(var3)

bool

In [14]:
5 == 5.0

True

In [15]:
pp = str(int(7 + 8.0))
print(pp + " happy" + "!")

15 happy!

In [16]:


float("15")

15.0

In [17]:
print(Hello world)

SyntaxError: invalid syntax (3449611317.py, line 1)

In [18]:
a=2
# print(a)

In [19]:
print("England\nSouth Africa\nIndia")

England
South Africa
India

In [25]:
num_1 = 2
num_2 = 3
print(num_1**num_2)

8

In [26]:
( 14 % 2 ) + 4

4

In [27]:
(10 % 3)

1

In [28]:
27/2 == 13.5

True

In [29]:
 (4/2 !=2) == False

True

In [31]:
A,B,C,D = 21,8,20,5
( A % B ) + ( C // B ) - D

2

In [33]:
3%2 > 1 and 4/2 == 2

False

In [34]:
5%2 > 1 or 8/2 != 2

True

In [1]:
3 == 2 and 1 != 2

False

In [40]:
ele = ["Data Science", "Machine Learning", "Great Learning"]

In [38]:
D = [0 , 1 , 2 , 3 , 0 , 1 , 2 , 3 , 4]
D[D[0]]

0

In [39]:
fruits = ['Apple','Oranges','Strawberry']
fruits[-1]

'Strawberry'

In [41]:
ele[1]

'Machine Learning'

In [42]:
ele[-2]

'Machine Learning'

In [43]:
D = [0 , 1 , 2 , 3 , 0 , 1 , 2 , 3 , 4]
print(D[0:1] + D[:2] + D[1:3] + D[2:4] + D[-5:-4])

[0, 0, 1, 1, 2, 2, 3, 0]

In [44]:
my_list = [34, "Great", 60.7, True, "Data"]
my_list[:4]

[34, 'Great', 60.7, True]

In [45]:
a='abcde'
b = list(a)
c = list(range(len(a)))
c.extend(b)
print(c)

[0, 1, 2, 3, 4, 'a', 'b', 'c', 'd', 'e']

In [46]:
a='abcde'
b = list(a)
c = list(range(len(a)))
c.append(b)
print(c)

[0, 1, 2, 3, 4, ['a', 'b', 'c', 'd', 'e']]

In [48]:
my_list = [34, "Great", 60.7, True, "Data"]
my_list.insert(2, "Hi")
my_list

[34, 'Great', 'Hi', 60.7, True, 'Data']

In [49]:
my_list = [34, "Great", 60.7, True, "Data", "Great"]
my_list.remove("Great")
my_list

[34, 60.7, True, 'Data', 'Great']

In [50]:
a = ['a','b'] 
b = ['c','d'] 
c = 'f' 
d = list(c)
print(a+b+d)

['a', 'b', 'c', 'd', 'f']

In [51]:
A= (1,2,3,4,5)
A[-1]

5

In [52]:
my_tuple = ("Hi", 56, False, 21)
my_tuple[-2]

False

In [53]:
X= (1,2,3,4,5)
X[X[-2]]

5

In [54]:
a=(1,2,3,4,5)

print(a[-2])

4

In [55]:
a=(1, 2, [1,2,4], 4)

a[-2][-1]=3

print(a)

(1, 2, [1, 2, 3], 4)

In [56]:
letters = ('a', 'b', 'c', 'd', 'e')
index = letters.index('b')
print(letters[len(letters) - index])

e

In [57]:
letters = ('a', 'b', 'c', 'd', 'e')
index = letters.count('e')
print(letters[index])

b

In [58]:
my_tuple = (34, "Great", 60.7, True, "Data", "Great")

In [59]:
my_tuple.count("Great")

2

In [60]:
my_tuple.index(34)

0

In [61]:
d={1:2, 3:4}

In [62]:
type(d)

dict

In [63]:
Dict = { 0 : [], 1 : [1], 2: [2, 2], 3: [3, 3, 3]}
print(Dict)

{0: [], 1: [1], 2: [2, 2], 3: [3, 3, 3]}

In [66]:
Dict = {'A1': 'A1','A2': 'A2','A3': {'A1': 'A1','A2': 'A2','A3': 'A3'}}
print(Dict['A2'])

A2

In [67]:
Dict = {'A1': 'A1','A2': 'A2','A3': {'A1': 'A1','A2': 'A2','A3': 'A3'}}
print(Dict['A3']['A3'])

A3

In [68]:
dict = {
 "Name": "John",
 "Sex": "Male",
 "Age": 25
}

In [69]:
dict["Age"] = 50
print(dict)

{'Name': 'John', 'Sex': 'Male', 'Age': 50}

In [70]:
Dict = {1 : [1], 2 : [2, 2, 2], 3 : {3 :[3, 3, 3, 3]}}
Dict[3][3][3] = 2
print(Dict)

{1: [1], 2: [2, 2, 2], 3: {3: [3, 3, 3, 2]}}

In [71]:
data_1 = {1:"USA", 2:"India", 3:"Japan", 4:"China"}
data_1[2] = "Russia"
data_1

{1: 'USA', 2: 'Russia', 3: 'Japan', 4: 'China'}

In [72]:
d={ "Name": "John", "Sex": "Male"}
len(d)

2

In [1]:
A = {}
A1 = A
A.update(A1)
print(A)

{}

In [2]:
A = {'A':1,'C':2,'B':3}
sorted(A)

['A', 'B', 'C']

In [3]:
A = {'A':1,'B':2,'C':3}
B = A
del B['A']
print(A)

{'B': 2, 'C': 3}

In [1]:
A = ['a']
B = ['b']
C = ['c']
output = [set(A),set(B),set(C)]
print(output)

[{'a'}, {'b'}, {'c'}]

In [2]:
set_1 = {4, 3, 7, 4, 6, 8, 4}
set_1

{3, 4, 6, 7, 8}

In [4]:
l = [1, 2, 8, 5, 7, "2", 9]
set(l)

{1, 2, '2', 5, 7, 8, 9}

In [5]:
A = (3,4,5)
if A[1] == 8/2:
    print('True')
else:
    print('False')

True

In [7]:
a = 10
b = 50
if a>b:
 print("False")
else:
 print("True")

True

In [8]:
list_1 = [1, 2, 3, 4, 5]
for i in list_1:
  print("i =", i)

i = 1
i = 2
i = 3
i = 4
i = 5

In [9]:
A = 'ABCDEFG'

for i in range(len(A)):
    print(str(i)*2)

00
11
22
33
44
55
66

In [10]:
list_1 = [1, 2, 3, 4, 5]
mul = 1
for i in list_1:
  mul = mul*i
print("The multiplication is =", mul)

The multiplication is = 120

In [11]:
sum = 0
i=1
while i<6:
  sum = sum + i
  i += 1
print("The sum is =", sum)

The sum is = 15

In [12]:
A = 'ABCDEFG'

for i in range(len(A)):
    print(A[i]*i)

B
CC
DDD
EEEE
FFFFF
GGGGGG

In [15]:
A = 'abcde'

for i in range(len(A)):
    print("i={} i%2={}".format(i,i%2))
    if i%2==0:
        print(i)
    else:
        break

i=0 i%2=0
0
i=1 i%2=1

In [16]:
A = '0123'

for i in range(len(A)):
    if i%2==0:
        print(A[i])
    else:
        break

0

In [19]:
l = [0, 1, 2, 3, 4]

for i in l:
     print(i)
     if i%2 == 0:
        continue
     break

0
1

In [20]:
A = 'abcde'

for i in range(len(A)):
    if i%2==0:
        print(i)
    else:
        break

0

In [21]:
A = '0123'

for i in range(len(A)):
    if i%2==0:
        print(A[i])
    else:
        break

0

In [22]:
list_1 = [1, 2, 3, 4, 5]
for val in list_1:
  if val == 4:
    break
  print(val)

1
2
3

In [24]:
l = [0, 1, 2, 3, 4]

for i in l:
     print(i)
     if i%2 == 0:
        continue
     break

0
1

In [25]:
def Name():
   A=Name
   print('Name')
Name()

Name

In [27]:
a = '01234'

def ABC(a):
    for i in range(len(a)):
        print('It is ',str(i))

b ='ABCDE'
ABC(b)

It is  0
It is  1
It is  2
It is  3
It is  4

In [28]:
def ABC(a):
    a = 'ABCDE'
    for i in a:
        print('It is ',str(i))

b ='01234'
ABC(b)

It is  A
It is  B
It is  C
It is  D
It is  E

In [29]:
def multiply(a, b):
    print(a*b)
mul = multiply(5, 6)
print(mul)

30
None

In [30]:
def function(a,b,c):
    sum = 100
    sum = sum + a * b / c
    return sum

function(100,300,200)

250.0

In [31]:
def func1(a,b,c):
    a = a + 1
    b = b + 2
    c = c + 3
    return a+b+c

def func2(a,b,c):
    a = a * 1
    b = b * 2
    c = c * 3 
    return a,b,c

print(func2(func1(1,2,3),func1(10,20,30),func1(11,22,33)))

(12, 132, 216)

In [32]:
def details(**kwargs): 

       print(kwargs)

details(name="Mike", sex="Male")

{'name': 'Mike', 'sex': 'Male'}

In [33]:
func = (lambda x, y: (x ** y))
func(func(2,2))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [34]:
a = lambda x, y: x*y
print(a(2, 9))

18

In [35]:
A= list(range(5))
print(A)
B = map(lambda x: (x * x)+1, A)
print(B)
print(list(B))

[0, 1, 2, 3, 4]
<map object at 0x7fd94a97cf60>
[1, 2, 5, 10, 17]

In [36]:
def calculateSquare(n):
  return n*n
numbers = (1, 2, 3, 4)
result = list(map(calculateSquare, numbers))
print(result)

[1, 4, 9, 16]

In [37]:
def filterdata(x):
  if x>5:
    return x

result = filter(filterdata,(1,2,6))
print(list(result))

[6]

In [38]:
100000**(1/5)

10.000000000000002

In [40]:
nums= [10,20,30,40,50,60,70,80,90,100]
type(nums)

list

In [41]:
A= [10,20,30,40,50,60,70,80,90,100]
B = {"Alpha", "Beta", "Gamma", "Theta", "Lambda"}
C = ["Alpha", "Beta", "Gamma", "Theta", "Lambda"]

In [44]:
Name =  "Hello World! My Name is Jupyter!"
len(Name)

32

In [45]:
dict = {"Sherlock" : "Holmes", "Dr." : "Watson"}
print(dict["Dr."])

Watson

In [46]:
ls = [1,2,3,4,5,6,7,8,9,10]
ls_new = []
for i in ls:
  if i%2 != 0:
    ls_new.append(i)
print(ls_new)

[1, 3, 5, 7, 9]

In [47]:
lambda_func = lambda x: x * 2
numbers = [1, 2, 3]
map_list = list(map(lambda_func, numbers))
print(map_list)

[2, 4, 6]