# **Table of Content**

1. **[Introduction to List](#list)**
2. **[Introduction to Tuple](#tuple)**

## **1. Introduction to List**

### **Constructing Lists**

To create a list, use square brackets [ ] and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.).

In [1]:
# Create an empty list
empty_list = []
empty_list

[]

**Note : A list can also hold another list as an item, these are called nested lists.**

In [2]:
# Nested list
my_list = [['Data Science','Machine Learning'],[135,232,321]]
my_list

[['Data Science', 'Machine Learning'], [135, 232, 321]]

### **Acessing Elements in a List**
You can access the list items by referring to the index number.

**Indexing:**<br>
We use the index operator [ ]. Each item in a list has an assigned index value. Note that the index starts from 0 in python and must be an integer.

#### Print the second item of the list

In [3]:
# Define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Access the second item of a list at index 1
print(course[1])

machine learning

**Negative Indexing**:<br>
Negative indexing means beginning from the end, -1 refers to the last item, and -2 refers to the second last item.

#### Print the second last item of the list

In [4]:
# Define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Access the second item of a list at index -2
print(course[-2])

html

### **Slicing of a List**
List uses the slicing operator : (colon) to extract part of the sequence.

#### Return first three elements from the list

In [5]:
# Define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Print first three elements from the list
course[:3]

['data science', 'machine learning', 'python']

Select elements from beginning to end

In [6]:
# Define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Print the all elements
course[:]

['data science', 'machine learning', 'python', 'html', 'big data']

If all three starts, stop, and steps are provided, it generates a portion of the sequence after the index starts till stops with an increment of the index step.

In [7]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

### **Change Item Value**
Refer the index number to change the value of a specific item

In [8]:
# Define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Change the third item
course[3] = 'statistics'
course

['data science', 'machine learning', 'python', 'statistics', 'big data']

### **List Methods**
Python has a set of built-in methods that you can use on lists and arrays.

Python has built-in methods that you can use on list:<br>
append()<br>
insert()<br>
extend()<br>
del <br>
remove()<br>
pop()<br>
reverse()<br>

**list.append(item)**<br>
The method list.append(item) will add the element at the end of a list.

In [9]:
# Define a list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]
course2 = ['statistics']

# Add element to the list
course1.append(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

**list.insert(i, item)**<br>
This method will insert an element at the ith index in a list.

In [10]:
# Define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Insert element at 2nd index in a list
course.insert(2, 'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

**list.extend(items)**<br>
The extend method concatenates lists.

In [11]:
# Define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data']

# Define a second list
course2 = ['artificial intelligence']

# Concatenate the list
course1.extend(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Deleting List Elements**<br>
Use the del keywords to delete an item at specific index.

In [12]:
# Define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Delete the third element from the list
del course[2]

# Print the output
course

['data science', 'machine learning', 'html', 'big data']

**list.remove(item)**<br>
It will search and remove only the first occurrence of an item.

In [13]:
# Define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.remove('html')

course

['data science', 'machine learning', 'python', 'big data', 'html']

**list.pop()**<br>
Removes and returns the last item of a list.

In [14]:
# Define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.pop()

'html'

**list.reverse()**<br>
The reverse() method reverses the sorting order of the elements.

In [15]:
# Define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.reverse()

course

['html', 'big data', 'html', 'python', 'machine learning', 'data science']

### **Common List Operations**

**Concatenation(+)**<br>
Concatenation uses the + Operator. It combines lists.

In [16]:
# Define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Define a second list
course2 = ['artificial intelligence']

# Concatenate the list
course1 + course2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Repetition(*)**<br>
Uses the * Operator. Concatenates a list a repeated number of times.

In [17]:
# Define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course1*2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'data science',
 'machine learning',
 'python',
 'html',
 'big data']

## **2. Introduction to Tuple**

### **Creating Tuple**
Here, we are creating few tuples. We can have tuple of same type of data items as well as mixed type of data items.

In [18]:
# Tuple of int, float, string
my_tuple = (123, 2.228, "hello python")
print(my_tuple)

(123, 2.228, 'hello python')

In [19]:
# Tuple of string and list
my_tuple = ("python", [12, 12, 31])
print(my_tuple)

('python', [12, 12, 31])

### **Access Tuple Elements**
We use indexes to access the elements of a tuple.

In [20]:
# Tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# Access the second element from the list
my_tuple[1]

'yellow'

**Negetive Indexing**<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item of the tuple.

In [21]:
# Tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# Print last item of the tuple
my_tuple[-1]

'blue'

### **Change Tuple Values**
We cannot change the elements of a tuple because elements of tuple are immutable. However we can change the elements of nested items that are mutable.

In [22]:
my_tuple = (123, ['s', 'a', 'v'], "World")
print(my_tuple)

# Changing the element of the list 
# This is valid because list is mutable
my_tuple[1][2] = 99
print(my_tuple)

(123, ['s', 'a', 'v'], 'World')
(123, ['s', 'a', 99], 'World')

In [23]:
# Define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# Changing the element of tuple
# This is not valid since tuple elements are immutable
my_tuple[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

### **Delete Operation on Tuple**
We already discussed above that tuple elements are immutable which also means that we cannot delete the elements of a tuple. However deleting entire tuple is possible.

In [24]:
# Define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

### **Tuple Methods**

Python has three built-in methods that you can use on tuples:<br>
count()<br>
index()<br>
sorted()

**count()**<br>
Returns the number of times a specified value occurs in a tuple.

In [25]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.count('e')

4

**index()**<br>
Searches the tuple for a specified value and returns the position of where it was found.

In [26]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.index('l')

3

**sorted()**<br>
It sorts a tuple and always returns a list with the elements in a sorted manner.

In [27]:
my_tuple = (2,3,5,6,4,7,8,9,9,2,3)
sorted(my_tuple)

[2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9]