1. **[Introduction to Dictionary](#dictionary)**
2. **[Introduction to Sets](#sets)**
3. **[Conditional Statement and Loops](#loops)**
    - 3.1 - [if statement](#if_statement)
    - 3.2 - [if else statement](#if_else)
    - 3.3 - [if elif else](#if_elif_else)
    - 3.4 - [nested if and if else statement](#nested_if)
    - 3.5 - [for loop](#forloop)
    - 3.6 - [while loop](#whileloop)
    - 3.7 - [break statement](#break_statement)
    - 3.8 - [continue statement](#continue_statement)

## **1. Introduction to Dictionary**

### **General Syntax of Dictionary:**<br>
dictionary_name = {&nbsp;key_1: value_1,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   key_2: value_2,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    key_3: value_3,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    }

### **Create a Dictionary**
Separate keys from values with a colon(:), and a pair from another by a comma(,). Put it all in curly braces.

In [1]:
# Create a dictionary
balance = {
    "Mia" : 83847,
    "John" : 83837,
    "Jill" : 94766
}
print(balance)

{'Mia': 83847, 'John': 83837, 'Jill': 94766}

### **Accessing Items**
You can access the items of a dictionary by referring to its key name, inside square brackets.

In [2]:
# Get the value of "Mia" key
x = balance["Mia"]
x

83847

We can use get method to get the value of "Mia" key.

In [3]:
x = balance.get("Mia")
x

83847

### **Change Values**
You can change the value of a specific element by referring to its key name.

In [4]:
# Create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [5]:
# Change the sales figure for 2015
year_sales[2015] = 45000

year_sales

{2015: 45000, 2016: 34300, 2017: 40000}

### **Dictionary Length**

In [6]:
# Print the length of dictionary
print(len(year_sales))

3

### **Adding Items**<br>
Adding an item to the dictionary is done by using a new index key and assigning a value to it.

In [7]:
# Create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales['2018'] = 55000

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, '2018': 55000}

### **Dictionary Method**

**Removing Items**<br>
There are several methods to remove items from a dictionary:<br>
pop() method<br>
popitem() method<br>
clear() method<br>
del keywords

**pop()**<br>
The pop() method removes the item with the specified key name.

In [8]:
# Create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# Remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

**popitem()**<br>
The popitem() method removes the last inserted item.

In [9]:
# Create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# Remove last item from the dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

### **del keywords**<br>
The del keyword removes the item with the specified key name.

In [10]:
# Create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# Delete item from the dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

**clear()**<br>
The clear() method empties the dictionary.

In [11]:
# Create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# Clear the dictionary
year_sales.clear()

year_sales

{}

**Copy()**<br>
You cannot copy a dictionary simply by typing dict2 = dict1, because dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.<br>
You can use the copy() method to make a copy of the dictionary.

In [12]:
# Create a dictionary
year_sales1 = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# Make a copy of dictionary
copy_dict = year_sales.copy()

**sorted()**<br>
Return a new sorted list of keys in the dictionary.

In [13]:
Square = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
sorted(Square)

[1, 3, 5, 7, 9]

**update()**<br>
We can also add and modify dictionaries by using the dict.update() method.

In [14]:
# Create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# Update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

## **2. Introduction to Sets**

### **Creating Set**
In Python sets are written with curly brackets.

In [15]:
# Create a set
s = {1, 2, 3, 3, 4, 3, 3, 2, 2, 2}
print (s)

# Create a set
set([1, 2, 3, 4, 4, 4])

{1, 2, 3, 4}

{1, 2, 3, 4}

Python has the following methods that you can use on sets:<br>
add()<br>
update()<br>
len()<br>
remove()<br>
pop()<br>

## **3. Conditional Statement and Loops**

### **3.1 if statement**

**syntax:**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS

**Now, we will see some examples on if statements**

In [16]:
# Create a string
my_string = 'Python'

# Create a list
my_list = ['Data Science', 'Machine Learning', 'Artificial Intelligence', 'Python']

if my_string in my_list:
    print(my_string + ' Tutorial')

Python Tutorial

 Test if an item is a member of a list or not.

In [17]:
languages = ['java', 'python' ,'perl', 'ruby', 'c#']
if 'python' in languages:
    print('right')

right

### 3.2 if else statement

**Syntax of if...else**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS_1<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_2

#### Let’s see an example of the implementation of the if…else statement.

In [18]:
# Create a integer
x = 200
print(x)

# Uses the not operator to reverse the result of the logical expression
if not x == 500:
    print('the value of x different from 500')
else:
    print('the value of x is equal to 500')

200
the value of x different from 500

In [19]:
string1 = str(input("enter your userid"))
string2 = str(input("enter your password"))

if (string1 == "greatlearning" and string2 == "simplelearning123"):
    print("Succefully logged in!!")
else :
    print("Please check your userid and password")

enter your useridgreatlearning
enter your passwordsimplelearning123
Succefully logged in!!

### **3.3 if elif else**

**Syntax of if elif else:**<br>
if x < y:<br>
&nbsp;&nbsp;    STATEMENTS_A<br>
elif x > y:<br>
&nbsp;&nbsp    STATEMENTS_B<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_C

**Q. Check whether the given number is greater than 50 or not**

In [20]:
num = 100
if (num == 0):
    print("Number is Zero")
elif (num > 5):
    print("Number is greater than 50")
else:
    print("Number is smaller than 50")

Number is greater than 50

### **3.4 nested if and if else statement**

In [21]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 6
Positive number

### **3.5 for loop**

**Syntax of for loop:**<br>
for val in sequence:<br>
&nbsp;&nbsp;	Body of for

**Q. Program to find the sum of all numbers stored in a list**

In [22]:
# List of numbers
numbers = [66, 545, 223, 438, 224, 122, 125, 214, 111]

# Variable to store the sum
sum = 0

# Iterate over the list
for val in numbers:
    sum = sum+val

# Output: The sum is 48
print("The sum is", sum)

The sum is 2068

### **3.6 while loop**

**Syntax of for loop:**<br>
while (expression):<br>
&nbsp;&nbsp;     statement_1<br>
&nbsp;&nbsp;     statement_2<br>
    ....

**Q. Calculate the sum of the integers from 0 to 9**

In [23]:
a = 0;
b = 0
while (a < 10):
    b = b + a
    a = a + 1
else :
     print('The sum of first 9 integers : ',b)

The sum of first 9 integers :  45

### **3.7 break statement**

Check whether a numbers entered by the user is negative or not.

In [24]:
for i in range(5):
    a = int(input())
    if a < 0:
        print('Met a negative number', a)
        break
else:
    print('No negative numbers met')

6
3
7
-3
Met a negative number -3

### **3.8 continue statement**

In [25]:
# Loop from 1 to 10 
for i in range(1, 11): 
    if i == 6: 
        continue
    else: 
        # Otherwise print the value of i 
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

Use the continue statement in a while loop.

In [26]:
i = 0
while i < 9:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9